[submodule "UMArm_dynamic_koopman_compliance"]
	path = UMArm_dynamic_koopman_compliance
	url = https://github.com/zuorunze/UMArm_dynamic_koopman_compliance.git
[submodule "umarm-mjx-rl-catch-and-place-pivot"]
	path = umarm-mjx-rl-catch-and-place-pivot
	url = https://github.com/weiyishi197/umarm-mjx-rl.git
	branch = catch-and-place-pivot
